*.egg-info
experiment_script/log
**/__pycache__/

**/__pycache__/
LCRL/policy/__pycache__/
experiment_script/visualization/log/
experiment_script/final_runs/log
experiment_script/final_runs/data
experiment_script/final_runs/new_data
experiment_script/final_runs/plots
experiment_script/final_runs/new_data_corrected_Ld
experiment_script/final_runs/auto_plots
experiment_script/final_runs/video
experiment_script/final_runs/sac_experiments
experiment_script/final_runs/new_backup
experiment_script/final_runs/new_sac_experiments
experiment_script/final_runs/new_new_backup

traj_videos
wandb/
/log/
/logs
wm_demos*.pkl
test*
!/test/
/test/*
!/test/test_eval_posterior.py
!/test/test_wm_training.py
/cache
train_data
eval
gt_dubins
/REPRODUCTION.md
/2510.06492v2.pdf
